@media (max-width: 1279px) {
  /* GENERAL-768 */
  .header-main,
  .header-pets {
    /* width: 70.8rem; */
    padding: 0 2rem;
  }

  /* ******************* */
  /*Donation*/
  /* ******************* */
  .section-in-addition {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  .img-donation-box {
    grid-row: 2;
  }
  /* ******************* */
  /*Footer*/
  /* ******************* */
  .footer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 6rem;
  }
  .img-footer {
    grid-column: 1/-1;
  }

  /* INDEX-768*/
  /* ******************* */
  /*Not Only*/
  /* ******************* */
  .not-only {
    width: 76.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 10rem;
  }
  .start-screen-puppy {
    width: 56.9rem;
    height: 59.3rem;
  }
  .start-screen-text {
    width: 46rem;
    padding-top: 6rem;
  }

  .start-screen-text > :last-child {
    margin: 0 auto;
  }

  /* ******************* */
  /*About*/
  /* ******************* */

  .section-about {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 8rem;
    /* margin: 0 auto; */
    justify-items: center;
  }
  .img-about-box {
    grid-row: 2;
    width: 30rem;
  }
  .text-about {
    width: 43rem;
  }
  /* ******************* */
  /*Our Friends*/
  /* ******************* */
  .our-friends {
    /* width: 76.8rem; */
  }
  .slider {
    width: 70.8rem;
  }
  .slider-cards {
    width: 60rem;
    overflow: hidden;
    justify-content: left;
    gap: 1rem;
  }
  .card {
    margin: 0 1rem;
  }
  /* ******************* */
  /*How you can help*/
  /* ******************* */
  .icons-row {
    width: 63rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(17rem, 1fr));
  }

  /* PETS-728 */
  .cards-conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* INDEX-320*/
@media (max-width: 767px) {
  /* GENERAL-768 */
  /* .header-main,
   .header-pets {
     /* width: 70.8rem; */
  /* padding: 0 2rem;
   }
  */

  /* ******************* */
  /*Donation*/
  /* ******************* */
  .section-in-addition {
    padding: 4.2rem 0;
  }
  .donation-info {
    align-items: center;
  }
  .donation-info > p {
    text-align: justify;
  }
  .h3-donation {
    text-align: center;
  }
  .img-donation {
    width: 26rem;
    height: auto;
  }
  /* ******************* */
  /*Footer*/
  /* ******************* */
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 4rem;
  }
  .img-footer {
    width: 26rem;
    height: auto;
    grid-column: 1/-1;
  }

  /* ******************* */
  /*Not Only*/
  /* ******************* */

  h2 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 3.2rem;
  }
  .not-only {
    width: 30rem;
    padding: 0;
  }
  .start-screen-text {
    width: 30rem;
    align-items: center;
  }
  .subheading-light {
    text-align: center;
  }
  .start-screen-puppy {
    width: 26rem;
    height: auto;
  }
  /* ******************* */
  /*About*/
  /* ******************* */
  .section-about {
    padding: 4.2rem 0;
    margin: 0;
  }
  h3 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 3.2rem;
  }
  .text-about {
    width: 30rem;
  }
  .text-about > p {
    text-align: justify;
  }
  .img-about-box {
    width: 26rem;
    height: auto;
  }
  /* ******************* */
  /*Our Friends*/
  /* ******************* */
  .our-friends {
    padding: 4.2rem 0;
    gap: 4.2rem;
  }
  .slider {
    width: 30rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .slider :nth-child(2) {
    grid-row: 1 / 2;
    grid-column: span 2;
  }

  .slider :nth-child(1) {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }

  .slider :nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  }

  .slider-cards {
    width: 27rem;
    overflow: hidden;
    justify-content: left;
    gap: 1rem;
  }

  /* ******************* */
  /*How you can help*/
  /* ******************* */
  .section-help {
    padding: 4.2rem 0;
  }
  .icons-row {
    width: 32rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(13rem, 1fr));
    gap: 3rem;
  }
  .help-icon {
    width: 5rem;
    height: auto;
  }

  h4 {
    font-size: 1.5rem;
  }
}
